.currentUser__div {
  display: flex;
  align-items: center;
}

.currentUser__hidden {
  display: none;
}

.currentUser__p--name{
  color: #FFF;
  margin-right: 20px;
  font-size: 20px;
}

.view--favorite--movies__button{
  color: #FFF;
  font-size: 20px;
  margin-right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #FDC938;
}

.sign--out__button {
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  background-color: #F541FF;
  color: #FFF;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  
}