.movie--poster--details__div {
    display: flex;
}

.movie__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.movie--title--year,
.movie--user--score--fav--votes {
    display: flex;
    justify-content: space-evenly;
}