.header {
  display: flex;
  justify-content: space-between;
  height: 27vh;
  padding: 20px;
  align-items: center;
}

.movie_time_logo {
  height: 150px;
}

.SignupFormModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cinema_night_artwork {
  height: 500px;
}