.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 310px;
  margin: 20px 10px;
  border: 3px solid red;
  padding: 10px;
}

.moviePoster {
  position: relative;
  width: 100%;
  height: auto;
}

.view--movies {
  z-index: 2000;
}

.moviePosterOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13%;
  width: 284px;
  position: absolute;
  background-color: rgba(140, 139, 139, .85);
}

.movieCardTitle,
.movieCardGenre {
  color: black;
}

div.movieCardGenre {
    font-size: .7rem;
    left: -2%;
    padding: 1px 15px;
    position: relative;
    text-align: center;
    top: -30px;
    min-width: 100%;
}

.footer--accents {
  bottom: -2vh;
  position: absolute;
  width: 100%;
}

.bottom-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

.favorite-icon {
  height: 5vh;
  width: 5vh;
}
