.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  margin: 20px 10px;
}

.moviePoster {
  position: relative;
  width: 100%;
  height: auto;
}

.moviePosterOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 300px;
  position: absolute;
  background-color: rgba(140, 139, 139, .7);
}

.movieCardTitle,
.movieCardGenre {
  color: red;
}
/* <img src="someimage.png" alt="alternative text" style="position: relative;" /><span style="position: absolute; top: 50px; left: 50px;">Some text..</span> */
