.movieCard {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  margin: 20px 10px;
  max-width: 330px;
  border: 3px solid red;
  padding: 10px;
  width: 29vw;
}

.moviePoster {
  position: relative;
  width: 100%;
  height: 69vh;
}

.view--movies {
  z-index: 2000;
}

.moviePosterOverlay {
  bottom: 13.6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 95px;
  width: 100%;
  position: relative;
  background-color: rgba(140, 139, 139, .85);
}

.movieCardTitle,
.movieCardGenre {
  color: black;
}

div.movieCardGenre {
    font-size: .7rem;
    left: -2%;
    padding: 1px 15px;
    position: relative;
    text-align: center;
    top: -30px;
    min-width: 100%;
}

.footer--accents {
  bottom: -2vh;
  position: absolute;
  width: 100%;
}

.bottom-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

.favorite-icon {
  height: 5vh;
  width: 5vh;
}
