.header--login {
  display: flex;
  align-items: center;
}

.header--login__hidden {
  display: none;
}

.header--userinput__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.login__label {
  color: #FFF;
}
.header--userinput__input {
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 180px;
  margin-top: 8px;
  padding-left: 5px;
  font-size: 15px;
}

.header--userinput__div {
  margin-right: 20px;
}

.login--bottomtext {
  color: #5c5a5a;
  margin: 0;
  margin-top: 8px;
}

.login__button {
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  background-color: #F541FF;
  color: #FFF;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.login__button:disabled {
  background-color: #f8acfc;
  cursor: default;
}
